@import-normalize; /* bring in normalize.css styles */

:root {
  --default-border-color: #c5c5c5;
  --font-size-title: 25px;
  --default-border-radius: 4px;
}
html{
    min-height: 100%;
    position: relative;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
